.blog-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    width: 80%;
    margin: auto;
    margin-top: 71px;
}

@media only screen and (max-width: 600px) {
    .blog-container{
        display: flex;
        flex-direction: column;
    }

    .blog-header{
        margin: 0px 82px;
    }
}