.career-header{
    text-align: center;
    height: 350px;
    padding: 131px 20px;
    background-color: #14101F;
    color: #fff;
    margin-bottom: 40px;
}

.apply-box{
    width: 561px;
    height: 158px;
    background-color: #14101F;
    padding: 29px 53px;
    color: #fff;
    box-shadow: 9px 10px 27px -6px rgba(0,0,0,0.75);
}

.apply-area{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}